.loaded .fp-style-1 {
 background-image: url('./../imgs/square-background-5f943e7d27f6e9.90131680.jpg');	
}

.loaded .fp-style-2 {
 background-image: url('./../imgs/vertical-background-5f9445e1d0d741.12570797.jpg');	
}

.loaded .fp-style-3 {
 background-image: url('./../imgs/wide-background-5f943b5551dc27.91821499.jpg');	
}

.loaded .fp-style-4 {
 background-image: url(./../imgs/bg-05.jpg);	
}

.loaded .fp-style-5 {
 background-image: url(./../imgs/bg-53.jpg);	
}

.loaded .fp-style-6 {
 background-image: url(./../imgs/bg-54.jpg);	
}

.loaded .fp-style-7 {
 background-image: url(./../imgs/bg-72.jpg);	
}

.fp-style-8 {
 background-repeat: no-repeat;
background-size: auto;
}

.loaded .fp-style-8 {
 background-image: url('./../imgs/video-background-5f94159b09f6f2.66218545.jpg');	
}

.fp-style-9 {
 background: black;
}

.fp-style-10 {
 color: rgb(255, 153, 0);
}

.fp-style-11 {
 background-color: rgba(0, 0, 0, 0);
height: 353px;
margin-bottom: 0px;
padding: 0px;
text-align: right;
}

.fp-style-12 {
 margin-bottom: 30px;
}

.fp-style-13 {
 margin-bottom: 57px;
}

.fp-style-14 {
 margin-bottom: 5px;
}

.fp-style-15 {
 object-fit: contain;
}

.fp-style-16 {
 object-fit: cover;
}

.fp-style-17 {
 object-fit: fill;
}

.fp-style-18 {
 font-size: 1.5em;
padding-left: 4em;
padding-right: 4em;
}

.fp-style-19 {
 text-align: left;
}



fp-fullpage {
 font-family: Lato;
}

h1, h2, h3, h4, h5, h6 {
 font-family: Lato;
}

button {
 font-family: Lato;
}